.Recipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Recipe-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #ccc;
    margin: 1em;
    border-radius: .2em;
    padding: 1em;
}
.Recipe-card a:nth-child(4),
.Recipe-card button {
    width: 80%;
    justify-self: center;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.Recipe-card button {
    background-color: #6b0909;
    border: 2px solid #6b0909;
    padding: .2em;
    outline: none;
    color: #fff;
}

.Recipe-card a:nth-child(4) {
    text-decoration: none;
    border: 2px solid green;
    color: green;
    font-size: .9em;
}

.Recipe-card a:nth-child(4):hover {
    color: #fff;
    background-color: green;
    transition: background-color 2s ease-out;
}

.Recipe-card button:nth-child(5):hover {
    background-color: #fff;
    color: #6b0909;
    transition: background-color 2s ease-out;
}


 