.Recipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Recipe-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #ccc;
    margin: 1em;
    border-radius: .2em;
}